apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 1redguy/microservices-project-backend:v1
        ports:
        - containerPort: 3001
        env:
        - name: DB_HOST
          value: database-service
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: articlesdb
        - name: DB_USER
          value: postgres
        - name: DB_PASSWORD
          value: postgres
        - name: PORT
          value: "3001"
